<template lang="jade">
  .song-info
    .song-info-wrapper
      .song-info-title {{song.title.substring(0, 30)}}
      .song-info-artist {{song.artist.substring(0, 30)}}
</template>

<script>
  export default {
    props: ['song']
  }
</script>

<style lang="stylus">
.song-info
  width 400px
  &-title
    font-weight 200
    width 100%
    height 27px
    text-align center
    font-size 16px
    margin-top 4px
  &-artist
    width 100%
    font-size 13px
    text-align center
    font-weight 200
  @media screen and (max-width:528px)
    display none

.song-info-wrapper
  padding-top 4px
  width 100%
  height 100%
  box-sizing border-box
</style>