<template lang="jade">
  .header-wrapper
    .header(v-bind:style="backgroundColor")
      player-controls(type="ROOM")
      song-info(:song="getCurrentSong")
      .title Mus&#9834;croom
    player-progressbar(:passed-time="Math.floor(passedTime)", :duration="getDuration")

</template>

<script>
import Progressbar from './player-progressbar'
import Controls from './player-controls'
import SongInfo from './header-song-info'
import {getPassedTime, getDuration, getCurrentSong} from '../../vuex/player/playerGetters'
import {getArtistColors} from '../../vuex/artist-colors/artistColorsGetters'
export default {
  vuex: {
    getters: {
      passedTime: getPassedTime,
      getDuration: getDuration,
      getArtistColors,
      getCurrentSong
    }
  },
  components: {
    'player-progressbar': Progressbar,
    'player-controls': Controls,
    'song-info': SongInfo
  },
  computed: {
    backgroundColor () {
      console.log('header')
      if (!this.getCurrentSong.artist) {
        return ''
      }
      const color = this.getArtistColors[this.getCurrentSong.artist.toLowerCase()]
      return {background: `linear-gradient(to top left, rgba(255,255,255,0.04) -5%, rgba(${color.r}, ${color.g}, ${color.b}, 0.6) 80%)`}
    }
  }
}
</script>

<style lang="stylus">
@require '../../assets/style/constants.styl'
.header
  width 100%
  // background-color rgba(255,255,255, 0.8)
  background linear-gradient(to top left, rgba(255,255,255,0.04) -5%, rgba(155, 155, 155, 0.6) 80%)
  border-bottom 2px solid white
  height header-height
  display inline-flex
  justify-content space-between
  transition 1s background
  box-sizing border-box

.header-wrapper
  position fixed
  background-color black
  height header-wrapper-height
  width 100%
  z-index 200

.title
  width 250px
  font-size 35px
  color white
  text-align center
  text-transform uppercase
  line-height header-height
  @media screen and (max-width:528px)
    font-size 20px
    width 200px
  @media screen and (min-width:529px) and (max-width:content-wrapper-width-media)
    font-size 25px
    width 220px
</style>