<template lang="jade">
  .player-progressbar
    .passed-time {{Math.min(passedTime, duration) | toTime}}
    .duration {{duration | toTime}}
    span.player-progressbar-progress#player-progressbar-progress(v-bind:style="{width : percents + '%'}")
</template>

<script>
  export default {
    props: ['passedTime', 'duration'],
    computed: {
      percents () {
        return Math.min(100, (this.passedTime / this.duration) * 100)
      }
    }
  }
</script>

<style lang="stylus">
.player-progressbar
  width: 100%;
  height: 15px;
  background-color: rgba(255, 100, 100, 0.5);
  color: white;
  position relative
  font-size: 12px;

.player-progressbar-progress
  display: block;
  width:0%;
  height: 15px;
  background-color: rgba(255, 100, 100, 0.9);
  cursor default

.passed-time
  position absolute
  font-weight 200
  font-size 11px
  line-height 15px
  left 10px
  cursor default
  user-select none

.duration
  position absolute
  font-weight 200
  font-size 11px
  line-height 15px
  right 10px
  cursor default
  user-select none

</style>