<template lang="jade">
  .player
    .player-controls
      span(v-show="showRoomControls").player-dislikes-count 0
      button(v-bind:class="{ 'player-dislike-button' : showRoomControls, 'player-prev-song-button' : !showRoomControls }",
        v-on:click="prevSongPressed")
      .volume-wrapper2
        svg.svg-canvas(width="70", height="70", v-on:mouseup="volumeClicked")
          path(stroke-dasharray="1.2", stroke-dashoffset="2", d="M5,40 A31,31 0 1,1 18,60", style="stroke: white; stroke-width:3; fill:none;")
          path#current-volume(d="M5,40 A31,31 0 1,1 5,40", style="stroke: white; stroke-width:4; fill:none;")
          path(d="M10.5,42 A26,26 0 1,1 19.5,55", style="stroke: white; stroke-width:2; fill:none;")
          //circle(r="25", cy="30", cx="30", stroke-width="3", stroke="#aaa", stroke-dasharray="1", fill="none")
          //circle(r="25", cy="30", cx="30", stroke-width="4", stroke="white",
          //stroke-dasharray="60", fill="none")
        .volume-button-wrapper
          button.volume-mute
      button(v-on:click="playButtonPressed", v-bind:class="{ 'player-play-button' : !isPlaying, 'player-pause-button' : isPlaying}")
      button(v-bind:class="{ 'player-like-button' : showRoomControls, 'player-next-song-button' : !showRoomControls }",
        v-on:click="nextSongPressed")
      span(v-show="showRoomControls").player-likes-count 0
    //.player-volume
    //  .volume-container
    //    button.volume-mute
    //    .volume-wrapper#volume-container(v-on:click="volumeClicked")
    //      span.volume-control
    //      span.volume-control-level(v-bind:style="{ width: volumeInPixels + '%' }")
</template>

<script>
  import {play, pause, setCurrentSong, setVolumeLevel} from '../../vuex/player/playerActions'
  import {getState, getType, getCurrentSong, getVolumeLevel} from '../../vuex/player/playerGetters'
  import {getSongs} from '../../vuex/songs/songsGetters.js'

  function polarToCartesian (centerX, centerY, radius, angleInDegrees) {
    var angleInRadians = (angleInDegrees - 90) * Math.PI / 180
    return {
      x: centerX + (radius * Math.cos(angleInRadians)),
      y: centerY + (radius * Math.sin(angleInRadians))
    }
  }

  function describeArc (x, y, radius, startAngle, endAngle) {
    const start = polarToCartesian(x, y, radius, endAngle)
    const end = polarToCartesian(x, y, radius, startAngle)
    const largeArcFlag = endAngle - startAngle <= 180 ? '0' : '1'
    const d = ['M', start.x, start.y, 'A', radius, radius, 0, largeArcFlag, 0,
    end.x, end.y].join(' ')
    return d
  }

  function getAngle (center, p1, p2) {
    const a = {x: p1.x - center.x, y: p1.y - center.y}
    const b = {x: p2.x - center.x, y: p2.y - center.y}
    const dotProd = a.x * b.x + a.y * b.y
    const aLength = Math.sqrt(a.x * a.x + a.y * a.y)
    const bLength = Math.sqrt(b.x * b.x + b.y * b.y)
    const angle = Math.acos(dotProd / (aLength * bLength)) * 180 / Math.PI
    if (b.x < 0) {
      return -angle
    } else {
      return angle
    }
  }

  export default {
    methods: {
      volumePathPressed (event) {
        const p1 = {
          x: 121,
          y: 35
        }
        const p2 = {
          x: event.clientX,
          y: event.clientY
        }
        const volumeValuePath = document.getElementById('current-volume')
        let angle = getAngle(p1, {x: 121, y: 0}, p2)
        console.log(angle)
        if (angle < -100) {
          angle = 360 + angle
        }
        const xCenter = 35.4
        const yCenter = 34.4
        let d = describeArc(xCenter, yCenter, 31, 260, Math.min(angle, 65))
        if (angle > 65) {
          d += describeArc(xCenter, yCenter, 31, 65, Math.min(angle, 160))
        }
        if (angle > 160) {
          d += describeArc(xCenter, yCenter, 31, 160, Math.min(angle, 215))
        }
        volumeValuePath.setAttribute('d', d)
        return (angle + 100) / 305 * 100
      }
    },
    computed: {
      showRoomControls: function () {
        console.log(this.getType)
        return this.getType === 'ROOM'
      },
      isPlaying: function () {
        console.log(this.getState)
        return this.getState === 'PLAY'
      },
      volumeInPixels: function () {
        return this.getVolumeLevel * 96
      }
    },
    vuex: {
      actions: {
        playButtonPressed (store) {
          console.log(this.getState)
          if (this.getState === 'PLAY') {
            pause(store)
          } else {
            play(store)
          }
        },
        nextSongPressed (store) {
          const songs = this.getSongs
          const currentSong = this.getCurrentSong
          let index = songs.indexOf(currentSong) + 1
          if (index > 0) {
            const song = songs[index % songs.length]
            setCurrentSong(store, song)
            // play(store)
          }
        },
        prevSongPressed (store) {
          const songs = this.getSongs
          const currentSong = this.getCurrentSong
          let index = songs.indexOf(currentSong)
          if (index !== -1) {
            if (index === 0) {
              index = songs.length
            }
            index -= 1
            const song = songs[index]
            setCurrentSong(store, song)
            // play(store)
          }
        },
        volumeClicked (store, event) {
          // let elem = window.$('#volume-container')[0]
          const vol = this.volumePathPressed(event)
          console.log(event.pageX - 60)
          // let val = Math.max(0, (event.pageX - 56) / 120)
          let val = vol / 100
          val = Math.max(0, Math.min(1, val))
          console.log(val)
          setVolumeLevel(store, val)
          // console.log(this)
        }
      },
      getters: {
        getState,
        getType,
        getSongs,
        getCurrentSong,
        getVolumeLevel
      }
    }
  }
</script>

<style lang="stylus">
@require '../../assets/style/constants.styl'
.svg-canvas
  // background-color green
.player-controls
  display inline-flex
  width 220px
  margin-top 10px
  align center
.volume-container
  margin 0 auto
  height 15px
  width 150px
  display flex
  align-items center
  position relative
  // background-color red
.volume-wrapper2
  position absolute
  left 86px
  top 0px
.volume-wrapper
  box-sizing border-box
  width 125px
  height 15px
  margin-left 5px
  position relative

.volume-control
  position absolute
  width 120px
  background-color gray
  height 3px
  top 6px

.volume-control-level
  height 3px
  background-color white
  position absolute
  top 6px

.volume-button-wrapper
  position absolute
  width 20px
  height 20px
  left -2px
  top 41px
  border-radius 50% 50%
  border 1px solid white
  z-index 300

.volume-mute
  position absolute
  left 3px
  top 3px
  background-image url("images/volume-high.png")
  width 13px
  height 13px
  border 0px solid white
  background-position 50% 50%
  background-size 13px
  background-repeat no-repeat
  background-color rgba(255, 255, 255, 0)

.player-volume
  width 100%
  height 15px

.player-dislikes-count
  margin-top 5px
  background-color dark-gray
  height player-like-button-size
  width player-dislikes-width
  margin-left 10px
  margin-right -30px
  line-height player-like-button-size
  padding-left 10px
  text-align center
  padding-right 20px
  border-radius 30%/70%
  box-sizing border-box
  font-weight 200

.player-likes-count
  margin-top 5px
  background-color dark-gray
  height player-like-button-size
  width player-dislikes-width
  margin-left -30px
  margin-right 10px
  text-align center
  line-height player-like-button-size
  padding-left 20px
  border-radius 30%/70%
  box-sizing border-box
  font-weight 200

.player-like-button
  display block
  margin-left 4px
  margin-top 5px
  width player-like-button-size
  height player-like-button-size
  border-radius 50%
  box-sizing border-box
  border 1px solid white
  background-image url("images/like-icon.png")
  background-position 6px 4px
  background-size 18px 18px
  background-repeat no-repeat
  z-index 2
  &:hover
      background-color dark-red-hover

.player-play-button
  position absolute
  left 97px
  top 10px
  background-color blue
  width player-play-button-size
  height player-play-button-size
  box-sizing border-box
  border 1px solid rgba(1,1,1,0)
  border-radius 50%
  background-color rgba(1,1,1,0)
  background-image url("images/play-icon.png")
  background-position 2px 50%
  background-size player-play-button-image-size
  background-repeat no-repeat
  z-index 200
  // &:hover
  //     background-color dark-red-hover

.player-pause-button
  position absolute
  left 97px
  top 10px
  background-color blue
  width player-play-button-size
  height player-play-button-size
  box-sizing border-box
  border 1px solid rgba(1,1,1,0)
  border-radius 50%
  background-color rgba(1,1,1,0)
  background-image url("images/pause-icon.png")
  background-position 6px 50%
  background-size player-pause-button-image-size
  background-repeat no-repeat
  z-index 200

.player-dislike-button
  display block
  margin-left 4px
  margin-top 5px
  width player-like-button-size
  height player-like-button-size
  border-radius 50%
  box-sizing border-box
  border 1px solid white
  background-image url("images/dislike-icon.png")
  background-position 6px 6px
  background-size 18px 18px
  background-repeat no-repeat
  &:hover
      background-color dark-red-hover

.player-next-song-button
  position absolute
  left 160px
  top 15px
  display block
  width player-like-button-size
  height player-like-button-size
  border-radius 50%
  box-sizing border-box
  border 3px solid white
  background-image url("images/forward-icon.png")
  background-position 6px 4px
  background-size 25px 25px
  background-repeat no-repeat
  background-color rgba(1,1,1,0)
  &:hover
      background-color dark-red-hover

.player-prev-song-button
  position absolute
  left 40px
  top 15px
  display block
  width player-like-button-size
  height player-like-button-size
  border-radius 50%
  box-sizing border-box
  border 3px solid white
  background-image url("images/backward-icon.png")
  background-position 2px 4px
  background-size 25px 25px
  background-repeat no-repeat
  background-color rgba(1,1,1,0)
  &:hover
      background-color dark-red-hover

</style>