<template lang="jade">
.modal-mask(v-show="show", transition="modal")
  .modal-wrapper
    .modal-container
      .modal-header Создать комнату
      .modal-body
        input(type="text", v-model="roomTitle")
      .modal-footer
        button(v-on:click="createRoom") Ok
        button(v-on:click="hideModal") Отмена

</template>

<script>
  export default {
    props: ['show'],
    data: function () {
      return {
        roomTitle: ''
      }
    },
    methods: {
      'hideModal': function (event) {
        this.$dispatch('hide-modal')
      },
      'createRoom': function (event) {
        this.$dispatch('create-room', this.roomTitle)
        this.roomTitle = ''
      }
    }
  }
</script>

<style lang="stylus">
.modal-enter, .modal-leave
  opacity 0
.modal-enter .modal-container,
.modal-leave .modal-container
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
.modal-footer
  text-align right
.modal-wrapper
  display table-cell
  vertical-align middle
.modal-container
  width 300px
  margin 0px auto
  padding 20px 30px
  background-color #fff
  border-radius 2px
  box-shadow 0 2px 8px rgba(0, 0, 0, .33)
  background-color gray
  transition all .3s ease
.modal-mask
  position: fixed
  z-index 9998
  top 0
  left 0
  width 100%
  height 100%
  background-color rgba(0, 0, 0, .5)
  display table
  transition opacity .3s ease
</style>