<template lang="jade">
  audio#player(autoplay, v-bind:src="songUrl")
</template>

<script>
  import {setPassedTime, setCurrentSong} from '../vuex/player/playerActions'
  import {getSongs} from '../vuex/songs/songsGetters'
  import {getSongUrl, getState, getCurrentSong, getVolumeLevel} from '../vuex/player/playerGetters'
  export default {
    ready () {
      let player = window.$('#player')[0]
      player.ontimeupdate = this.setPassedTime
      player.onended = this.setNextSong
      console.log(player)
      this.$watch('getState', (val) => {
        console.log(player.src)
        if (val === 'PLAY') {
          console.log('AUDIO PLAYER STATE TOGGLE TO PLAY')
          player.play()
        } else {
          console.log('AUDIO PLAYER STATE TOGGLE TO PAUSE')
          player.pause()
        }
        console.log('HELLO FROM WATCHER' + val)
      })
      this.$watch('getVolumeLevel', (val) => {
        player.volume = val
      })
    },
    vuex: {
      actions: {
        setPassedTime,
        setCurrentSong,
        setNextSong: function () {
          const song = this.getCurrentSong
          const songs = this.getSongs
          let index = songs.indexOf(song) + 1
          if (index > 0) {
            this.setCurrentSong(songs[index % songs.length])
          }
        }
      },
      getters: {
        songUrl: getSongUrl,
        getState,
        getCurrentSong,
        getSongs,
        getVolumeLevel
      }
    }
  }
</script>

