<template lang="jade">
  .login-box
    .login-title Mus&#9834;croom
    progressbar(:duration="duration", :passed-time="passedTime")
    .login-content
      button.mr-login-button(v-on:click='authorize') Войти
</template>

<script>
import {loginInVK} from '../vuex/session/sessionActions'
import progressbar from './header/player-progressbar'
import {router} from '../router'
import {getAllRooms} from '../vuex/rooms/roomsRequests'
export default {
  data () {
    return {
      timer: null,
      passedTime: 0,
      duration: 359
    }
  },
  created () {
    this.timer = setInterval(function () {
      this.passedTime += 1
    }.bind(this), 1000)
  },

  beforeDestroy () {
    clearInterval(this.timer)
  },

  components: {
    progressbar
  },
  vuex: {
    actions: {
      authorize: (store) => {
        loginInVK(store).then((response) => {
          console.log('LOGIN IN VK')
          console.log(response)
          if (response.status === 200) {
            router.go('app/songs')
          } else {
            console.log(response.error)
          }
        })
      },
      serverTest: function (store) {
        console.log(getAllRooms)
        getAllRooms()
        // console.log(this.$http.options)
        // this.$http.get('http://localhost:3000/api/hello').then((response) => {
        //   console.log(response.json())
        // }, (error) => {
        //   console.log(error)
        // })
      }
    }
  }
}
</script>

<style lang="stylus">
dark-red-hover = rgba(189, 111, 112, 1)
light-gray = rgba(145,145,145, 1)

.login-box
  margin auto
  width 400px
  height 400px
  position: absolute
  margin auto
  top 0
  right 0
  bottom 0
  left 0

.mr-login-button
  width 120px
  height 40px
  background-color rgba(1,1,1,0.0)
  border 3px solid white
  text-transform uppercase
  padding-top 6px
  font-size 20px
  font-weight 200
  box-shadow 0px 5px 7px  rgba(0,0,0,0.15),
  0px 15px 7px  rgba(0,0,0,0.08),
  0px 35px 15px  rgba(0,0,0,0.07),
  0px 75px 15px  rgba(0,0,0,0.02)
  &:hover
    background-color (dark-red-hover)

.login-title
  background linear-gradient(to top , light-gray, 60%, rgba(0,0,0,0.0)),5%
  height 70px
  line-height 85px
  text-align center
  font-size 55px
  text-transform uppercase
  border-bottom 2px solid white

.login-content
  text-align center
  padding-top 150px
  margin-top 3px
  background linear-gradient(to bottom, light-gray, 80%, rgba(0,0,0,0.0)), 0%
  height 320px
  box-sizing border-box
</style>