<template lang="jade">
  audio-player
  router-view
</template>

<script>
  import store from '../vuex/store.js'
  import audio from './audio-player'
  export default {
    store,
    components: {
      'audio-player': audio
    }
  }
</script>