<template lang="jade">
  .room-item(v-on:click="goToRoom")
    .room-item-title {{room.title}}
    .room-item-current-song {{currentSong}}
    .room-item-creator created by {{fullName}}
</template>

<script >
  import {router} from '../router'
  export default {
    props: ['room'],
    methods: {
      goToRoom (event) {
        router.go({name: 'room', params: {roomId: this.room._id}})
      }
    },
    computed: {
      fullName () {
        if (!this.room.owner) {
          return '[empty field]'
        }
        return `${this.room.owner.firstName} ${this.room.owner.lastName}`
      },
      currentSong () {
        if (!this.room.currentSong) {
          return '[song is null]'
        } else {
          return this.room.currentSong.title
        }
      }
    },

    ready: function () {
      if (this.room.owner) {
        console.log(this.room.owner.firstName)
      } else {
        console.log('owner is null')
      }
    }
}
</script>

<style lang="stylus">
.room-item
  margin 5px
  background-color gray
  width 250px
  height 75px
.room-item-title
  line-height 30px
  padding-left 15px
  box-sizing border-box
  text-transform uppercase
  font-size 20px
  // background-color green
  height 30px
.room-item-current-song
  // background-color blue
  padding-left 15px
  line-height 25px
  height 25px
.room-item-creator
  letter-spacing 0.4px
  // background-color red
  font-weight 200
  font-size 13px
  text-align right
  line-height 20px
  padding-right 10px
  height 20px
</style>