<template lang="jade">
  .rooms-set
    room-item(v-for="room in getRooms", :room="room")
</template>

<script>
  import RoomItem from '../components/room-item.vue'
  import {getRooms} from '../vuex/rooms/roomsGetters'
  import {setRooms} from '../vuex/rooms/roomsActions'
  export default {
    components: {
      'room-item': RoomItem
    },
    created () {
      this.setRooms()
    },
    vuex: {
      getters: {
        getRooms
      },
      actions: {
        setRooms
      }
    }
  }
</script>

<style lang="stylus">

</style>