<template lang="jade">
  add-song-modal(:show="showAddSongModal")
  .room-control-panel
    .room-title {{getCurrentRoomTitle}}
    .room-controls
      button(v-on:click="test") Добавить песню
  .room-content
    h1 hello in the room

</template>

<script>
// import {getRoom} from '../vuex/rooms/roomsRequests'
import addSongModal from '../components/addSongModal'
import {setRoom} from '../vuex/rooms/roomsActions'
import {getCurrentRoomTitle} from '../vuex/rooms/roomsGetters'
export default {
  data: function () {
    return {showAddSongModal: false}
  },
  components: {
    'add-song-modal': addSongModal
  },
  ready: function () {
    const roomId = this.$route.params.roomId
    this.setRoom(roomId)
  },
  vuex: {
    actions: {
      setRoom
    },
    getters: {
      getCurrentRoomTitle
    }
  },
  methods: {
    test () {
      console.log(this.getCurrentRoomTitle)
    }
  }
}
</script>

<style lang="stylus">
@require '../assets/style/constants.styl'

.room-title
  width 600px

.room-controls
  display block


.room-control-panel
  display flex
  background-color gray
  position fixed
  width content-wrapper-width
  left 0
  right 0
  margin-right auto
  margin-left auto
  top 128px
  height 25px
  z-index 200
</style>