<template lang="jade">
  .song-item(v-on:mouseenter="mouseEnter", v-on:mouseleave="mouseLeave", v-bind:style="backgroundColor")
    .song-item-number
      .number(v-show="!isShowHover && !isSelected") {{index + 1}}
    .song-item-content
      .song-item-title {{song.title.substring(0, 18)}}
      .song-item-artist {{song.artist.substring(0, 18)}}
      .song-item-duration {{song.duration | toTime}}
    .song-item-hover-block(v-show="isShowHover || isSelected")
      button.song-item-button(v-on:click="buttonClick", v-bind:class="{ 'song-item-play-button': !isPlaying, 'song-item-pause-button': isPlaying }")
</template>

<script>
  import {getCurrentSong, getState} from '../vuex/player/playerGetters'
  import {getArtistColors} from '../vuex/artist-colors/artistColorsGetters'
  export default {
    props: ['song', 'index'],
    vuex: {
      getters: {
        getCurrentSong,
        getState,
        getArtistColors
      }
    },
    methods: {
      mouseEnter () {
        this.isShowHover = true
      },
      mouseLeave () {
        this.isShowHover = false
      },
      buttonClick () {
        this.$dispatch('song-item-pressed', this.song)
        // this.setCurrentSong(this.song)
      }
    },
    computed: {
      isSelected () {
        const curSong = this.getCurrentSong
        // console.log(this.getCurrentSong === this.song)
        if (!this.getCurrentSong) {
          return false
        }
        return curSong.aid === this.song.aid && curSong.title === this.song.title && curSong.artist === this.song.artist
      },
      isPlaying () {
        return this.getState === 'PLAY' && this.isSelected
      },
      backgroundColor () {
        const color = this.getArtistColors[this.song.artist.toLowerCase()]
        // console.log(`rgba(${color.r}, ${color.g}, ${color.b}, 0.4)`)
        return {backgroundColor: `rgba(${color.r}, ${color.g}, ${color.b}, 0.45)`}
      },
      backgroundButtonColor () {
        if (this.isSelected) {
          return {backgroundColor: 'rgba(255, 100, 100, 0.9)'}
        }
        const color = this.getArtistColors[this.song.artist.toLowerCase()]
        // console.log(`rgba(${color.r}, ${color.g}, ${color.b}, 0.4)`)
        return {backgroundColor: `rgba(${color.r}, ${color.g}, ${color.b}, 0.45)`}
      }
    },
    data () {
      return {
        isShowHover: false
      }
    }
  }
</script>

<style lang="stylus">
.song-item
  height 70px
  width 250px
  font-weight 200
  display flex
  box-sizing border-box
  position relative
  margin-left 4px
  margin-top 2px
  margin-bottom 2px
  transition 0.5s background-color
  z-index 0

.song-item-content
  width 190px
  z-index 0

.song-item-selected
    background-color rgba(255, 100, 100, 1) !important

.song-item-number
  width  60px
  height 70px
  line-height 70px
  font-size 20px
  text-align center

.song-item-title
  width  100%
  height 25px
  font-size 16px
  line-height 30px
  text-align left
  box-sizing border-box
  padding-left 5px


.song-item-artist
  width  100%
  height 20px
  line-height 20px
  font-size 12px
  text-align left
  box-sizing border-box
  padding-left 5px


.song-item-duration
  width  100%
  height 20px
  font-size 13px
  text-align right
  padding-right 10px
  box-sizing border-box
  margin-top 5px

.song-item-hover-block
  width 250px
  height 71px
  border 3px solid rgba(255, 100, 100, 1)
  box-sizing border-box
  position absolute
  top -1px
  left 0px

button:focus
  outline 0

.song-item-button
  width 50px
  height 50px
  position absolute
  border-radius 50% 50%
  left 4px
  top 6px
  border 1px solid white
  background-color rgba(0,0,0,0)
  transition 0.1s background-color
  &:hover
    background-color rgba(255, 100, 100, 1)

.song-item-play-button
  background-image url("./images/play-icon.png")
  background-position 60% 50%
  background-size 30px 30px
  background-repeat no-repeat
  border-radius 50% 50%

.song-item-pause-button
  background-image url("./images/pause-icon.png")
  background-position 50% 50%
  background-size 30px 30px
  background-repeat no-repeat
  border-radius 50% 50%
</style>