<template lang="jade">
  .control-panel
    .songs-controls(v-show="showSongsControls")
      Сортировать по:
      select
        option Дата
        option Артист
        option Алфавит
    .rooms-controls(v-show="showRoomsControls")
      button(v-on:click="toggleModal") Создать
  .songs-set
    song-item(v-for="song in getUserSongs", :song="song", :index="$index")
    .user-songs-title Глобальный поиск
    song-item(v-for="song in getGlobalSongs", :song="song", :index="$index")
</template>

<script>
import SongItem from '../components/song-item'
import {getSongs} from '../vuex/songs/songsGetters'
import {getOwnerId} from '../vuex/getters'
import {setSongs} from '../vuex/songs/songsActions'
import {getCurrentSong} from '../vuex/player/playerGetters'
import {toggleState, setCurrentSong} from '../vuex/player/playerActions'
export default {
  created () {
    console.log(this.session)
    this.setSongs(this.getOwnerId)
  },
  computed: {
    getUserSongs () {
      return this.getSongs.userSongs
    },
    getGlobalSongs () {
      return this.getSongs.globalSongs
    }
  },
  vuex: {
    getters: {
      getSongs,
      getOwnerId,
      getCurrentSong
    },
    actions: {
      setSongs,
      toggleState,
      setCurrentSong
    }
  },
  components: {
    'song-item': SongItem
  },
  events: {
    'song-item-pressed': function (song) {
      const playing = this.getCurrentSong
      if (playing === song) {
        this.toggleState()
      } else {
        this.setCurrentSong(song)
      }
    }
  }
}
</script>

<style lang="stylus">
@require '../assets/style/constants.styl'

.songs-set
  width 100%
  // overflow auto
  // height 600px
  display flex
  flex-wrap wrap
  flex-direction row
  justify-content flex-start
  background-color rgba(0, 0, 0, 0.3)
  z-index 0

.user-songs-title
  width 100%
  margin-left 4px
  margin-right 4px
  height 20px
  background-color rgba(255,255,255,0.4)
  padding-left 10px
  font-weight 200
  text-transform uppercase
  font-size 15px
  line-height 20px

</style>