<template lang="jade">
  header-player
  create-room-modal(v-show="showCreateRoom")
  .songs-block-title
    .songs-block-title-header
      a.navigation-item(v-link="'songs'") songs
      a.navigation-item(v-link="'rooms'") rooms
      a.navigation-item(v-link="'users'") users
    .songs-block-title-search
      input.songs-block-search-box(type="text", placeholder="Поиск...", v-model="query")
  .header-background
  .content-wrapper
    .songs-content
      router-view
</template>

<script>
import Header from './components/header/header-player'
import CreateRoom from './components/createRoom'
import {getQuery} from './vuex/songs/songsGetters'
import {setQuery} from './vuex/songs/songsActions'
import {isLogined} from './vuex/session/sessionGetters'
import {getLoginStatus} from './vuex/session/sessionActions'
export default {
  data: () => {
    return {
      showCreateRoom: false
    }
  },
  components: {
    'header-player': Header,
    'create-room-modal': CreateRoom
  },
  events: {
    'hide-modal': function (msg) {
      this.showCreateRoom = false
    },
    'create-room': function (msg) {
      console.log('PREAPARING TO CREATE ROOM' + msg)
      this.showCreateRoom = false
    }
  },
  methods: {
    searcboxKeyup: function (event) {
      let query = this.getQuery
      this.setQuery(query + event.key)
      console.log(query)
    },
    toggleModal: function (event) {
      this.showCreateRoom = !this.showCreateRoom
    }
  },
  computed: {
    path () {
      const route = this.$route.path.split('/')
      console.log(route)
      return route[2]
    },
    showSongsControls () {
      console.log(this.path === 'songs')
      return this.path === 'songs'
    },
    showRoomsControls () {
      console.log('ffffdfdfd' + this.path)
      return this.path === 'rooms'
    },
    query: {
      get: function () {
        return this.getQuery
      },
      set: function (newValue) {
        this.setQuery(newValue)
      }
    }
  },
  vuex: {
    getters: {
      localIsLogined: isLogined,
      getQuery
    },
    actions: {
      setQuery,
      getLoginStatus
    }
  },
  route: {
    activate (transition) {
      console.log('you shall not pass two')
      console.log(document.cookie)
      console.log(this.localIsLogined)
      if (this.localIsLogined) {
        transition.next()
      } else {
        console.log('else')
        this.getLoginStatus().then((res) => {
          console.log(res)
          if (res.success) {
            transition.next()
          } else {
            transition.abort()
          }
        })
      }
    }
  }
}
</script>

<style lang="stylus">

@require './assets/style/constants.styl'

.rooms-controls
  text-align right

input:focus
  outline 0

.control-panel
  background-color gray
  position fixed
  width content-wrapper-width
  left 0
  right 0
  margin-right auto
  margin-left auto
  top 128px
  height 25px
  z-index 200

.header-background
  height 157px
  width content-wrapper-width
  margin auto
  top 0
  right 0
  left 0
  background-color black
  position fixed
  z-index 2

.content-wrapper
  position relative
  width 100%
  max-width content-wrapper-width
  margin 0 auto
  height 100%
  padding-top 156px
  box-sizing border-box
  @media screen and (max-width:528px)
    max-width 258px
    padding-top 158px
    margin 0 auto
  @media screen and (min-width:529px) and (max-width:content-wrapper-width-media)
    max-width 512px
    margin 0 auto

.songs-block-title
  position fixed
  width content-wrapper-width
  left 0
  right 0
  margin-right auto
  margin-left auto
  top 92px
  height 35px
  background-color rgba(255, 100, 100, 0.9)
  border-bottom 3px solid white
  box-sizing border-box
  padding-left 10px
  padding-right 3px
  color white
  line-height 30px
  text-transform uppercase
  display inline-flex
  z-index 200
  @media screen and (max-width:528px)
    max-width 258px
    height 70px
    display block
  @media screen and (min-width:529px) and (max-width:content-wrapper-width-media)
    max-width 512px

.songs-block-title-header
  width 500px
  @media screen and (max-width:528px)
    max-width 258px
  @media screen and (min-width:529px) and (max-width:content-wrapper-width-media)
    max-width 512px

.navigation-item
  display inline-block
  width 70px
  height 32px
  box-sizing border-box
  color white
  text-align center
  text-decoration none
  text-transform uppercase
  line-height 34px
  font-size 14px
  z-index 2000
  &:hover
      text-decoration underline

.songs-block-title-search
  width 250px
  @media screen and (max-width:528px)
    width 250px
  @media screen and (min-width:529px) and (max-width:content-wrapper-width-media)
    max-width 512px

.songs-block-search-box
  width 240px
  height 16px
  border 0px solid white
  margin-top 3px
  color gray !important
  padding 5px
  font-size 15px
  font-weight 200
  @media screen and (max-width:528px)
    max-width 230px
  @media screen and (min-width:529px) and (max-width:content-wrapper-width-media)
    max-width 512px

</style>
